


@model IEnumerable<SquareList.Models.Consulta>

@{
    /**/

    ViewBag.Title = "ListarAsConsultasHoje";
}

<style>



    #allConsultas .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #ccc;
    }

        #allConsultas .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #fff;
        }

        #allConsultas .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #bbb;
            color: #493F3F;
            background-color: #4CAF50;
        }

        #allConsultas .tg .tg-baqh {
            text-align: center;
            vertical-align: top
        }

        #allConsultas .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }



    .table .thead-light th {
        background-color: #71c55d;
    }

    .table td {
        text-align: center;
    }
</style>

<h3 align="center">Data de Hoje: @DateTime.Now.ToString("dd/MM/yyyy")</h3>
<hr />
@if (ViewData["consultas"] == null)
{
    <br />
    <h3 align="center">Nenhuma consulta foi marcada para hoje.</h3>
    <br /><br />
}

else
{
    <div id="allConsultas">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="tg-baqh text-center">Código do Cliente</th>
                    <th class="tg-baqh text-center">Nome do Nutricionista</th>
                    <th class="tg-baqh text-center">Especialidade</th>
                    <th class="tg-baqh text-center">Data da Consulta</th>
                    <th class="tg-baqh text-center">Horário</th>
                    <th class="tg-baqh text-center">Código da Consulta</th>
                    <th class="tg-baqh text-center">Ações</th>
                </tr>


                @foreach (var variavel in Model)
                {
                    using (Html.BeginForm("DesmarcarConsulta", "Acoes", FormMethod.Post))
                    {
                        <tr>
                            <td>@variavel.codCli</td>
                            <td>@variavel.nomeNutricionista</td>
                            <td>@variavel.especialidadeNutri</td>
                            <td>@variavel.dataConsulta.Date.ToString("dd/MM/yyyy")</td>
                            <td>@variavel.horaConsulta</td>
                            <td>@variavel.codConsulta</td>
                            @Html.Hidden("codConsulta", null, new { @Value = variavel.codConsulta })
                            <td><button type="submit" class="btn btn-danger">Desmarcar</button></td>

                        </tr>
                    }

                }
        </table>
    </div>
}
<br />






